<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.study.application.dao.ApplicationMapper">
    <select id="selectMyAllApplications" parameterType="map"
            resultType="ApplicationVO">
    SELECT * FROM application a JOIN studygroup s ON a.study_num = s.study_num JOIN STUDY_USER su ON su.STUDY_NUM = s.STUDY_NUM WHERE a.mem_num=#{mem_num} AND su.mem_num=#{mem_num}
    </select>
    <select id="selectMyStudyApplications" parameterType="map"
            resultType="ApplicationVO">
        SELECT * FROM application a JOIN member_detail m ON a.MEM_NUM = m.MEM_NUM JOIN STUDY_USER su ON su.STUDY_NUM = a.STUDY_NUM WHERE a.study_num=#{study_num} AND a.mem_num = su.MEM_NUM
    </select>
</mapper>







