@charset "UTF-8";
.calender-week {
    min-height: 80px;

}
.modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.color_pick {
    height: 20px;
}
.modal{
    display: none;
    position: absolute;
    width: 300px;
}