<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.study.studygroup.dao.StudyGroupMapper">
    <select id="selectRowCount" parameterType="map" resultType="integer">
        SELECT
        COUNT(*)
        FROM studygroup s JOIN member m
        ON s.mem_num = m.mem_num
        <where>
            <if test="keyword != null and keyword != ''">
                <if test="keyfield == 1">
                    s.name LIKE '%' || #{keyword} || '%'
                </if>
                <if test="keyfield == 2">
                    s.description LIKE '%' || #{keyword} || '%'
                </if>
                <if test="keyfield == 3">
                    s.stack LIKE '%' || #{keyword} || '%'
                </if>
                <if test="keyfield == 4">
                    s.name LIKE '%' || #{keyword} || '%' OR
                    s.stack LIKE '%' || #{keyword} || '%'
                </if>
            </if>
        </where>
    </select>
    <select id="selectAllStudyGroups" parameterType="map"
            resultType="StudyGroupVO">
        SELECT
        *
        FROM (SELECT
        a.*,
        rownum rnum
        FROM (SELECT
        s.study_num,
        <![CDATA[
  		              REPLACE(REPLACE(s.name,'<','&lt;'),'>','&gt;') name,
  		              ]]>
        s.stack,
        s.description,
        s.limit,
        s.location,
        s.purpose,
        s.limit_date,
        s.start_date,
        s.end_date,
        s.reg_date,
        s.mem_num,
        (SELECT COUNT(*)
        FROM STUDY_USER su
        WHERE su.REGISTERED = 'Y' AND su.STUDY_NUM = s.study_num GROUP BY su.STUDY_NUM) AS total
        FROM studygroup s JOIN member m
        ON s.mem_num = m.mem_num
        <where>
            <if test="keyword != null and keyword != ''">
                <if test="keyfield == 1">
                    s.name LIKE '%' || #{keyword} || '%'
                </if>
                <if test="keyfield == 2">
                    s.stack LIKE '%' || #{keyword} || '%'
                </if>
                <if test="keyfield == 3">
                    s.name LIKE '%' || #{keyword} || '%' OR
                    s.stack LIKE '%' || #{keyword} || '%'
                </if>
            </if>
        </where>
        ORDER BY s.study_num DESC)a)
        <![CDATA[
  		WHERE rnum >= #{start} AND rnum <= #{end}
  		]]>
    </select>
    <!-- 글수정 -->
    <update id="updateStudyGroup" parameterType="studygroupVO">
        UPDATE studygroup SET
        name=#{name},
        stack=#{stack},
        description=#{description},
        location=#{location},
        limit=#{limit},
        purpose=#{purpose},
        limit_date=#{limit_date},
        start_date=#{start_date},
        end_date=#{end_date},
        modify_date=SYSDATE
        WHERE study_num=#{study_num}
    </update>

    <!-- 댓글 목록
    {이거는 위에 꺼
    <if test="filename != ''">
            uploadfile=#{uploadfile},
            filename=#{filename},
        </if>}

    <select id="selectListReply" parameterType="map"
            resultType="boardReplyVO">
        SELECT
            *
        FROM (SELECT
                  a.*,
                  rownum rnum
              FROM (SELECT
                        re_num,
  		              <![CDATA[
                        REPLACE(REPLACE(re_content,'<','&lt;'),'>','&gt;') re_content,
  		              ]]>
  		              re_date,
                        re_mdate,
                        board_num,
                        mem_num,
                        id,
                        nick_name
                    FROM spboard_reply
                             JOIN spmember USING(mem_num)
                    WHERE board_num = #{board_num}
                    ORDER BY re_num DESC)a)
  		<![CDATA[
        WHERE rnum >= #{start} AND rnum <= #{end}
        ]]>
    </select>
    -->
</mapper>







